

/* Nav */
/* navbar-brand {
       color: #0481fb;
} */
.col {
        /* background-color:aliceblue; */
        width: 80%;
        position: absolute;
        height: 60vh;
        margin-top: 120px;
        text-align: center;
        color: black;
}

#generate {
        margin: 50px 0 0 0;
}

#reset {
         margin-left: 88px;
        position: absolute;
        margin-top: 70vh;
        width: 120px;
}
#quotes {
           width: 80%;
           height: 60vh;
           text-align: center;
           padding: 80px;
           color: black;
           flex-wrap: wrap;
           font-family: 'Courier New', Courier, monospace;
           font-size: 2em;
}